langchain_community==0.4.1
langchain_core==1.0.7
langchain_huggingface==1.0.1
langchain_qdrant==1.1.0
langchain_text_splitters==1.0.0
pypdf==6.3.0
python-dotenv==1.2.1
qdrant_client==1.16.0
sentence_transformers==5.1.2
